html {
  box-sizing: border-box;
  background-color: #f2f1ed;
  font-family: Georgia, serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

body {
  display: grid;
  margin: 0;
  padding: 1rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "banner banner"
    "col1   col2";
  gap: 1rem;
}

header {
  /* Remove the <header> box and allow us to directly apply header’s children to the grid. */
  display: contents;
}

.pano {
  grid-area: banner;
}

.logo {
  grid-column: 1;
  grid-row: 1;
  z-index: 1;
  margin-bottom: 1rem;
  margin-left: 1rem;
  width: 14rem;
  align-self: end;
}

nav ul {
  display: flex;
  justify-content: end;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav {
  grid-column: 2 / -1;
  grid-row: 1;
}

nav li {
  padding: 1rem;
}

nav a {
  color: #fff;
  font-family: "Patua One", sans-serif;
  font-size: 2rem;
}

main {
  display: contents;
}

figure {
  margin: 0;
  gap: 2rem;
}

h2 {
  font-family: "Patua One";
  color: #30658d;
  line-height: 1.5;
  margin-top: 1rem;
  margin-bottom: 0;
}

p {
  margin: 0;
}
